
<footer class="airbnb-footer">
    <div class="footer-container">

        <div class="footer-column">
            <h3>Support</h3>
            <a href="#">Help Centre</a>
            <a href="#">Get help with a safety issue</a>

            <a href="#">Anti-discrimination</a>
            <a href="#">Disability support</a>
            <a href="#">Cancellation options</a>
            <a href="#">Report neighbourhood concern</a>
        </div>

        <div class="footer-column">
            <h3>Hosting</h3>
            <a href="#">Hosting resources</a>
            <a href="#">Community forum</a>
            <a href="#">Join a free Hosting class</a>
            <a href="#">Find a co-host</a>
            <a href="#">Refer a host</a>
        </div>

        <div class="footer-column">
            <h3>Krishna Technologies</h3>
            <a href="#">2025 Updates</a>
            <a href="#">Newsroom</a>
            <a href="#">Careers</a>
            <a href="#">Investors</a>
            <a href="#">Emergency services</a>
        </div>

         <div class="footer-column">
            <h3>Contact</h3>
            <a href="mailto:krishnasoni8596@gmail.com">krishnasoni8596@gmail.com</a>
           <a href="tel:+911234567890">+91 8676859672</a>
            <p>Krishna Technologies Pvt Ltd<br>
               Mumbai, Maharashtra, India</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Krishna Technologies Pvt Ltd</p>

        <div class="footer-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>

        <a href="https://www.linkedin.com/in/krishna-soni-5b1a212b9" target="_blank">
            <i class="fa-brands fa-linkedin" style="color: blue;"></i>
            </a>
        </div>
    </div>
</footer>
