body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    flex: 1;
}
.navbar{
  
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: rgb(0, 51, 255);
    font-size: 2rem;
}

/* ----------------------------------footer */
.airbnb-footer {
    background: #f7f7f7;
    padding: 40px 20px;
    border-top: 1px solid #ddd;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-column a {
    display: block;
    color: #555;
    text-decoration: none;
    margin: 6px 0;
    font-size: 14px;
    transition: 0.2s;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* Contact Section Styles */


.footer-column p {
    font-size: 14px;
    color: #555;
    margin: 6px 0;
}

.footer-column p a {
    color: #555;
    text-decoration: none;
}

.footer-column p a:hover {
    text-decoration: underline;
}


.footer-bottom {
    max-width: 1200px;
    margin: 30px auto 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials a {
    color: #555;
    margin-left: 15px;
    font-size: 22px;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: #000;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}



/* Cards */
/* .listing-card{
    border: none !important;
     min-width: 260px;
    margin-bottom: 4rem;
    border-radius: 12px;
  overflow: hidden;


} */
/* .card-list{
    border: 2px solid black;
} */
/* .card-img-top{
   
border-radius: 1rem !important;
width: 100% !important;
height: 20rem;
  object-fit: cover;
 } */

 .listing-card {
  border: none;
  min-width: 260px;
  margin-bottom: 4rem;
  border-radius: 12px;
  overflow: hidden;
}

.card-img-top {
  border-radius: 1rem;
  height: 20rem;
  object-fit: cover;
}


.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;

}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
